<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/documentation.css">
<script type="text/javascript" src="/javascripts/menu_manager.js"></script>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>

<div id="main_content">
  <div class="container_960">

    <div id="reference" class="has_side_menu">

      <div class="stanza">
        
        <h2 id="objects">Getting started. <small>Version <%= api.version %></small></h2>

        <%= api.description %> 

        <h3 id="api-endpoint">Endpoint</h3>

        <p>All calls are made with the following end point</p>

        <code><%= api.endpoint %></code>

        <p>Both HTTP and HTTPS are supported as protocols. JSON is the data encapsulation format</p>

        <%- o = api.objects.first  %>
        <div id="api-<%= o.html_name %>" class = "object <%= o.html_name %>">
          <h3 class = "object-heading" id="object-<%= o.html_name %>"><%= o.name %></h3>

          <p><%= o.description%> </p>

          <div class = "fields">
            <h4>Fields</h4>

            <table class = "table">
              <thead>
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th char="title_desc">Description</th>
              </tr>
              </thead>
              <tbody>
              <%- o.parameters.each do |parameter| %>
                <tr>
                  <td><%= parameter.param_name %></td>

                  <td class = "type">
                    <%- if parameter.type %>
                      <code><%= parameter.type %></code>
                    <%- end %>
                  </td>

                  <td class = "description">
                    <%- if parameter.description %>
                      <%= parameter.description %>
                    <%- end %>
                    <%- if parameter.example %>
                      <div class="desc_example">
                      <h6>Example</h6>
                      <p class="example_code"><%= parameter.example %></p>
                      </div>
                      
                    <%- end %>
                  </td>
                </tr>

              <%- end %>
              </tbody>
            </table>
            <% if o.footnote %>
              <h5>Notes</h5>
              <p class='footnote'><%= o.footnote %></p>
            <% end %>
          </div>

          <%- if o.example %>
            <div class = "example clear">
              <h4>Example</h4>
              <pre class="prettyprint"><%= o.example %></pre>
            </div>
          <%- end %>

      </div>
      </div>


      <div class="stanza">
        <p>&nbsp;</p>

        <h2 id='objects' class="">Data structures</h2>
        
        <%- api.objects[1..api.objects.size].each do |o| %>
        <div id="<%= o.html_name %>" class = "object <%= o.html_name %>">
          <h3 class = "object-heading" id="object-<%= o.html_name %>"><%= o.name %></h3>

          <p><%= o.description%> </p>

          <div class = "fields">
            <h4>Fields</h4>

            <table class = "table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Type</th>
                  <th class="title_desc">Description</th>
                </tr>
              </thead>
              <tbody>
              <%- o.parameters.each do |parameter| %>
                <tr>
                  <td class="param_name"><%= parameter.param_name %></td>

                  <td class = "type">
                    <%- if parameter.type %>
                      <code><%= parameter.type %></code>
                    <%- end %>
                  </td>

                  <td class = "description">
                    <%- if parameter.description %>
                      <%= parameter.description %>
                    <%- end %>
                    <%- if parameter.example %>
                      <div class="desc_example">
                        <h6>Example</h6>
                        <p class="example_code"><%= parameter.example %></p>
                      </div>
                     
                    <%- end %>
                  </td>
                </tr>

              <%- end %>
              </tbody>
              </table>
              <% if o.footnote %>
                <h5>Notes</h5>
                <p class='footnote'><%= o.footnote %></p>
              <% end %>
          </div>

          <%- if o.example %>
          <div class = "example clear">
            <h4>Example</h4>
            <pre class="prettyprint"><%= o.example %></pre>
          </div>
          <%- end %>

        </div>
        <%- end %>
      </div>


    <div class="stanza">
      <p>&nbsp;</p>

      <h2>API calls</h2>
      <p>
        The Ingenia API allows developers to create, retrieve, update, and delete all resources.
       </p>
      
      <%- api.resources.each do |resource| %>

        <div class = "resource <%= resource.name %>">
        <h3 class = "resource-heading" id='resource-<%= resource.name %>'><%= resource.name %></h3>

        <div class = "resource-body" >
          <div class = "description"><%= resource.description %></div>

          <div class = "requests">
            
            <%- resource.requests.each do |req| %>
            <div class = "request panel panel-default">
              <div class = "panel-heading" id="call-<%= resource.html_name %>-<%= req.html_name %>" >
                 <h5><%= req.name %></h5>
              </div>

              <div class = "panel-body">
                <%- if req.path %>
                  <h5>Path</h5>
                    
                    <div class = "path well"> <span> <code class="get_post"><%= req.call_type.upcase %></code> </span> <%= api.endpoint.sub( /\/?$/, '') %><%= req.path %></div>

                <%- end %>

                <%- if req.description.present? %>
                <div class = "description">
                  <h5>Description</h5>
                  <%= req.description %>
                </div>
                <%- end %>

                  <div class = "parameters">
                    <h5>Parameters</h5>

                    <table class = "table">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Type</th>
                          <th class="title_desc">Description</th>
                        </tr>
                      </thead>
                      <tbody>
                      <%- req.parameters.each do |parameter| %>
                        <tr>
                          <td class="param_name">
                          <%- if parameter.class == DocSmoosher::ApiObject %>
                            <a href='#<%= parameter.html_name %>'><%= parameter.param_name %></a>
                          <%- else %>
                            <%= parameter.param_name %>
                          <%- end %>
                          <%- if parameter.required %>
                            <span class='text-muted'>required</span>
                          <%- end %>
                          </td>

                          <td class = "type">
                            <%- if parameter.type %>
                              <code><%= parameter.type %></code>
                            <%- end %>
                          </td>

                          <td class = "description">
                            <%- if parameter.description %>
                              <%= parameter.description %>
                            <%- end %>
                            <%- if parameter.default %>
                              <div class="desc_example">
                                <h6>Default</h6>
                                <p class="example_code"><%= parameter.default %></p>
                              </div>                              
                            <%- end %>
                            <%- if parameter.example && parameter.class != DocSmoosher::ApiObject %>
                              <div class="desc_example">
                                <h6>Example</h6>
                                <p class="example_code"><%= parameter.example %></p>
                              </div>
                              
                            <%- end %>
                          </td>
                        </tr>

                      <%- end %>
                      </tbody>
                      </table>
                      <% if req.footnote %>
                        <h5>Notes</h5>
                        <p class='footnote'><%= req.footnote %></p>
                      <% end %>
                  </div>

                  <%- if req.response %>
                  <div class = "response">
                    <h4>Response</h4>

                    <p>See <a href="#object-<%= req.response.html_name %>"><%= req.response.name %></a></p>

                  </div>
                  <%- end %>
                </div>
              </div>

              <%- end %>
            </div>
          </div>
        </div>


        <%- end %>

      </div>
    </div>
          


    <div id="navigation" class="is_side_menu">

      <ul id="sections">
        <li class="title expandable" data-submenuid='menu_getting_started'>Getting started: version 2</li>
        <li class="options">
          <ul id="menu_getting_started">
            <li><a href="#api-libraries">API libraries</a></li>
            <li><a href="#api-rate-limiting">Rate limiting</a></li>
            <li><a href="#api-endpoint">Endpoint</a></li>
            <li><a href="#api-basic-response-format">Basic response format</a></li>
          </ul>
        </li>

        <li class="title expandable" data-submenuid='menu_object_items'>Data structures</li>
        <li class="options">

          <ul id="menu_object_items">
          <%- api.objects[1..api.objects.size].each do |o| %>
            <li><a href="#object-<%= o.html_name %>"><%= o.name %></a></li>
          <%- end %>
          </ul>
        </li>

        <%- api.resources.each do |resource| %>
          <li class="title expandable" data-submenuid="menu_<%= resource.html_name %>"><%= resource.name %></li>
          <li class="options">
            <ul id="menu_<%= resource.html_name %>">
              <%- resource.requests.each do |req| %>
              <li><a href='#call-<%= resource.html_name %>-<%= req.html_name %>'><%= req.name %></a></li>
              <%- end %>
            </ul>
          </li>
        <%- end %>

      </ul>
      <a href="/documentation?version=1">V1 documentation</a>

    </div>
  </div>
</div>
