<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/documentation.css"> 
<script type="text/javascript" src="/javascripts/navigation.js"></script> 

  <div class="container">

  <div class="document_container">

    <div class="row">
      
      <h2 id="objects" class="top_h2">Getting started</h2>

      <%= api.description %>



    </div>



    <div class="row">

      <h2 id='objects' class="">Data structures</h2>
      
      <%- api.objects.each do |o| %>
      <div id="<%= o.name %>" class = "object <%= o.name %>">
        <h3 class = "object-heading" id="object-<%= o.name2 %>"><%= o.name2 %></h3>

        <p><%= o.description%> </p>

        <% if o.subtitle %>
          <h4><%= o.subtitle %></h4>
        <% end %>

        <div class = "parameters">
          <h4>Fields</h4>

          <table class = "table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
            <%- o.parameters.each do |parameter| %>
              <tr>
                <td><%= parameter.name %></td>

                <td class = "type">
                  <%- if parameter.type %>
                    <code><%= parameter.type %></code>
                  <%- end %>
                </td>

                <td class = "description">
                  <%- if parameter.description %>
                    <%= parameter.description %>
                  <%- end %>
                  <%- if parameter.example %>
                    <br/><br/>
                    <h6>Example</h6>
                    <p class="example_code"><%= parameter.example %></p>
                  <%- end %>
                
                </td>
              </tr>

            <%- end %>
            </tbody>
            </table>
            <% if o.footnote %>
              <h5>Notes</h5>
              <p class='footnote'><%= o.footnote %></p>
            <% end %>
        </div>

        <%- if o.example %>
        <div class = "example clear">
          <h4>Example</h4>

          <pre class="prettyprint"><%= o.example %></pre>
        </div>
        <%- end %>

      </div>
      <%- end %>
    </div>

    
    <div class="row">
      <h2>API calls</h2>
      
      <%- api.resources.each do |resource| %>
      <div class = "resource <%= resource.name %>">
        <h3 class = "resource-heading" id='resource-<%= resource.name %>'><%= resource.name %></h3>

        <div class = "resource-body" >
          <div class = "description"><%= resource.description %></div>

          <div class = "requests">
            
            <%- resource.requests.each do |req| %>
            <div class = "request panel panel-default">
              <div class = "panel-heading" id="call-<%= resource.name %>-<%= req.name %>" >
                <code class="get_post"><%= req.call_type %></code>
                <h5><%= req.name %></h5>
              </div>

              <div class = "panel-body">
                <%- if req.path %>
                  <h5>Path</h5>
                  <div class = "path well"><%= req.path %></div>
                <%- end %>

                <%- if req.description %>
                <div class = "description">
                  <h5>Description</h5>
                  <%= req.description %>
                </div>
                <%- end %>

                <div class = "parameters">
                  <h5>Parameters</h5>

                  <table class = "table">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                    <%- req.parameters.each do |parameter| %>
                      <tr>
                        <td>
                        <%- if parameter.class == DocSmoosher::ApiObject %>
                          <a href='#<%= parameter.name %>'><%= parameter.name %></a>
                        <%- else %>
                          <%= parameter.name %>
                        <%- end %>
                        <%- if parameter.required %>
                          <span class='text-muted'>required</span>
                        <%- end %>
                        </td>

                        <td class = "type">
                          <%- if parameter.type %>
                            <code><%= parameter.type %></code>
                          <%- end %>
                        </td>

                        <td class = "description">
                          <%- if parameter.description %>
                            <%= parameter.description %>
                          <%- end %>
                          <%- if parameter.default %>
                            <br/><br/>
                            <h6>Default</h6>
                            <p class="example_code"><%= parameter.default %></p>
                          <%- end %>
                          <%- if parameter.example && parameter.class != DocSmoosher::ApiObject %>
                            <br/><br/>
                            <h6>Example</h6>
                            <p class="example_code"><%= parameter.example %></p>
                          <%- end %>
                        </td>
                      </tr>

                    <%- end %>
                    </tbody>
                    </table>

                </div>

                <%- if req.response %>
                <div class = "response">
                  <h4>
                    Response
                  </h4>

                  <div class = 'well'>
                  <%= req.response.to_json %>
                  </div>
                </div>
                <%- end %>
              </div>
            </div>

            <%- end %>
          </div>
        </div>
      </div>


      <%- end %>
      
    </div>
  </div>
        

  
  <div class="nav_container">
    <div class='navigation'>
      
      <ul>
        <li>
          <a id="objects_link" href='#objects'>Objects</a>
          
          <ul class="objects_items">
          <%- api.objects.each do |o| %>
            <li><a href="#object-<%= o.name2 %>"><%= o.name2 %></a></li>
          <%- end %>
          </ul>
          
        </li>
        
        <%- api.resources.each do |resource| %>
        <li>
          <a id="<%= resource.name %>_link" href='#resource-<%= resource.name %>'><%= resource.name %></a>
          
          <ul class="resource-<%= resource.name %>">
            <%- resource.requests.each do |req| %>
            <li><a href='#call-<%= resource.name %>-<%= req.name %>'><%= req.name %></a></li>
            <%- end %>
          </ul>
        </li>
        <%- end %>
        
      </ul>
    
    </div>
  </div>

  </div>
